//
// IMPORT DEV-FILES
//

@import "_reset.styl"
global-reset()

@import "_clearfix.styl"
@import "_mixins.styl"
//@import "_grid.styl"
@import "_typography.styl"
//@import "_sprites/*"


// Elements
@import "_icons.styl"
@import "_buttons.styl"
@import "_forms.styl"


// Blocks
//@import "blocks/**/*"




//
// ACTIVATE BOX-MODAL AND CLEARFIX
//

*, *:after, *:before
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box


.cf
	clearfix()



//
// BASIC STYLE
//

html, body
	//


.wrapper
	margin 0 auto
	clearfix()




//
// IMPORT MEDIA-QUERIES
//

@import "_media.styl"
